/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    height: 100%;
}

input {
    font-size: 14px;
}

body {
    line-height: 1.4;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}


button:disabled {
    cursor: default;
    /* background: #7c5cbf94; */
    opacity: 0.5;
}

/* Join Page Styles */

.centered-form {
    background: #333744; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 24px;
    width: auto;
    max-width: 480px;
    height: auto;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

/* Chat Page Layout */

.chat {
    display: block;
    width: 100%;
    height: calc(85 * var(--vh));
}

.chat__sidebar {
    display: block;
    height: calc(85 * var(--vh));
    color: white;
    background: #333744;
    width: calc(100 * var(--vw));
    overflow-y: scroll;
    /* transition-property: width;
    transition-duration: 2s; */
    transition: width 1s ease-in-out;
    /* , height 1s ease-in-out;  */
}

/* .chat__sidebar:hover {
    width: 95vw;
    /* height: calc(90 * var(--vh)); */
/*} */
/* Chat styles */



.chat__main {
    display: flex;
    flex-grow: 1;
    /* background-image: url('../img/background-img.jpg'); */
    flex-direction: column;
    max-height: calc(85 * var(--vh));
    height: calc(85 * var(--vh));
    width: calc(100 * var(--vw));
    border: 1px solid;
    margin: 0px 5px 0px 5px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px lightgray;
}

.chat__messages {
    height: calc(80 * var(--vh));
    padding: 24px 24px 10px 12px;
    overflow-y: scroll;
}

/* Message Styles */

.message {
    margin-bottom: 16px;
}

.message p:nth-child(2) {
    background-color: rgb(162, 219, 250);
    border-radius: 8px;
    display: inline;
    padding: 4px;
    clear: both;
    border: 1px solid;
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: #777;
    font-size: 14px;
    float: right;
}

.message a {
    color: #0070CC;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 12px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 0px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 0px 0 0;
    flex-grow: 1;
    border-radius: 2em;
}

.send-button{
    width: 45px;
    height: 45px;
    padding: 4px;
    margin-left: auto;
    padding-left: auto;
    padding-right: auto;
    border: 1px solid black;
    border-radius: 50%;
    background: url('../img/send.png') no-repeat left center;
    background-size: 35px 35px;
    box-shadow: 10px black;
}
/* Chat Sidebar Styles */

#send-location {
    width: 45px;
    height: 45px;
    max-width: 10vw;
    font-size: 12px;
    padding: 4px;
    padding-left: auto;
    padding-right: auto;
    border-radius: 50px;
    background-image: url('../img/send.png') no-repeat left center;
}
.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;
    padding-left: 10px;
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: disc;
    font-weight: 300;
    list-style-position: inside;
    /* list-style-image: url(/img/green-dot.png) ; */
    padding: 12px 24px 0 24px;
}

.users li{
    color: lightgreen;
}

.users span {
    color: white
}

.rooms {
    list-style-type: none;
    font-weight: 200;
    padding-top: 12px;
}

.room-list {
    padding: 10px;
    background: white;
    width: 30vw;
    float: right;
    height: 100%;
}

.main-container {
    display: none;
    height: calc(90 * var(--vh));
    width: calc(100 * var(--vw));
    /* border-top: 1px solid; */
}

.room-details {
    background: lightgreen;
    border: hidden;
    border-radius: 5px; 
    margin-top: 10px;
    padding-left: 10px;
    font-weight: bold;
    font-family: sans-serif;
    box-shadow: 0px 0px 17px 1px lightslategrey;
}

.typing__message {
    padding: 0px;
    padding-left: 24px;
    font-size: 14px;
    font-style: italic;
    color: lightslategrey;
}

.leave__button {
    cursor: pointer;
    padding: 6px;
    background: #7C5CBF;
    border: none;
    color: white;
    font-size: 12px;
    transition: background .3s ease;
    width: auto;
    margin: auto;
    text-align: center;
    border-radius: 5px;
}

button.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-center {
    text-align: center;
    padding: 10px;
}

.flex_class {
    display: flex;
}

.banner {
    background-color: #e9ecef;
}

.btn {
    width: auto;
}

.btn-group {
    margin-right:10px;
    float: right;
}

p {
    margin-bottom: 0;
    word-break: break-all;
}

table {
    width: 100%;
}

td > button {
    float: right;
}

td {
    width: 100%;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;;
}

#inviteLink {
    padding: 0%;
    width: 100%;
    background: lightgrey;
}

.users li {
    text-overflow: ellipsis;
    width: auto;
    overflow:hidden; 
    white-space:nowrap;
}

button {
    cursor: pointer;
    padding: 8px;
    background: #7C5CBF;
    border: none;
    color: white;
    width: 20%;
    transition: background .3s ease;
}

.center {
    margin-top: calc(40 * var(--vh));;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

audio {
    display: none;
}